.container {
    max-width: 560px;
}
.sub-container {
    position: absolute;
    top: 20%;
    left: 34%;
    right: 34%;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 20px 20px 70px 20px;
}
.btn-color-black {
    background: #1e2121;
    border-color: #1e2121;
}
.btn-color-black:hover {
    background: rgba(30, 33, 33, 0.85);
    border-color: rgba(30, 33, 33, 0.85);
}
.btn-color-grey {
    background: #e0e0e0;
    border-color: #e0e0e0;
    color: black;
}
.btn-color-grey:hover {
    background: rgba(238, 238, 238, 0.85);
    border-color: rgba(238, 238, 238, 0.85);
    color: black;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}